@model EmployeeLeaveRequestVM

@{
    ViewData["Title"] = "EmpSummary";
}

<h1>Leave Summary</h1>
<div class="alert alert-info" role="alert">
    <ul class="list-group">
        @foreach (LeaveAllocationVM allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item list-group-item-info">
                <p>@allocation.LeaveType.Name <span class="badge badge-secondary">@allocation.NumberOfDays</span></p>
            </li>
        }
    </ul>
</div>

    <table id="tblData" class="table">
        <thead>
            <tr>
                <th>
                    Leave Type
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Date Requested
                </th>
                <th>
                    Approval State
                </th>
                <th>
                    Cancel Request
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveRequests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @if (item.Approved == true)
                        {
                            <span class="badge badge-success">Approved</span>
                        }
                        else if (item.Approved == false)
                        {
                            <span class="badge badge-danger">Rejected</span>
                        }
                        else {
                            <span class="badge badge-warning">Pending</span>
                        }

                    </td>
                    <td>
                        @if ((item.StartDate > DateTime.Now || item.EndDate < DateTime.Now) && (item.Approved == true || item.Approved == null) && (!item.Cancelled))
                        {
                            <a asp-action="CancelRequest" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel?')"><i class="fa fa-trash"></i> Cancel Request</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
